h1 {
    text-align: center;
}


html {
    background-color: rgb(133, 73, 192);
}

.container {
    width: fit-content;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(145, 9, 126);
    padding: 20px;
}


img {
    width: auto;
    height: auto;
    padding: 20px;
}